@{
    ViewBag.Title = "Home Page";
}

<br />


<div class="row">
   <div class="col-lg-8">
      What now ??? Browse games?
   </div>
   <div class="col-lg-4 text-right">
      Create new game
   </div>
</div>


<br />