
@{
    ViewBag.Title = "ToDo";
}

<h2>ToDo:</h2>

<div class="row">
   <div class="col-md-4">
      <h2>Home page:</h2>
      <ul>
         <li>- <del>list of games created</del></li>
         <li>- <del>create new game</del></li>
         <li>- <del>edit existent game</del></li>
         <li>- share game</li>
      </ul>
   </div>

   <div class="col-md-4">
      <h2>Game page:</h2>
      <ul>
         <li>- <del>game details</del></li>
         <li>- <del>add new checkpoint / question --- game steep</del></li>
         <li>- <del>edit game steep</del></li>
      </ul>
   </div>

   <div class="col-md-4">
      <h2>Game steep page:</h2>
      <ul>
         <li>- steep question / answer - html editor</li>
         <li>- directions to the next steep</li>
      </ul>
   </div>
</div>

<div class="row">
   <div class="col-md-4">
      <h2>Doc's:</h2>
      <ul>
         <li>- doc's about the game idea</li>
         <li>- doc's about how to create a game</li>
         <li>-</li>
      </ul>
   </div>

   <div class="col-md-4">
      <h2>??? FB page:</h2>
      <ul>
         <li>- share game on FB page</li>
         <li>- post game start on FB page ...</li>
         <li>-</li>
      </ul>
   </div>

   <div class="col-md-4">
      <h2>View shared games:</h2>
      <ul>
         <li>- filter shared games</li>
         <li>- copy shared game</li>
      </ul>
   </div>
</div>